@media only screen
and (min-device-width : 360px)
and (max-device-width : 667px) {

    .whatsapp-link{
        width: 50px;
        height: 50px;
    }

    .mobile-menu {
        display: block;
    }

    .desk-menu {
        display: none;
    }

    header .logo-menu .flex-container .flex-item.left {
        padding: 0px;
    }

    main .principal .website-description .flex-container .flex-item.left h1{
        font-size: 26px;
        text-align: center;
    }

    main .principal .website-description .flex-container .flex-item.left .subtitulo{
        text-align: center;
        line-height: 1.5;
    }

    header .logo-menu .flex-container .flex-item.right .links{
        position: absolute;
    }

    main .principal{
        background-position-x: 50%;
        background-position-y: 520px;
        background-size: 570%;
    }

    main .principal .flex-container{
        flex-flow: wrap;
    }

    main .principal .website-description .flex-container .flex-item{
        width: 100% !important;
    }

    main .principal .website-description .flex-container .flex-item.left .titulo-principal-botoes{
        padding-left: 20px;
        padding-right: 20px;
        min-height: 0px;
    }

    main .principal .website-description .flex-container .flex-item.left .call-to-action{
        text-align: center;
        padding-left: 0px;
        padding-top: 130px;
    }

    main .principal .website-description .flex-container .flex-item.left a.btn-call-to-act {
        padding: 18px 55px;
    }

    main .principal .website-description .flex-container .flex-item.right{
        margin-left: 0px;
        width: 90%;
        text-align: center;
        padding-top: 70px;
    }

    main .principal .website-description .flex-container .flex-item.right img{
        margin-left: 0px;
        margin-top: 100px;
        width: 90%;
    }

    main .features .description .flex-container{
        padding: 0 20px 0 20px;
    }

    main .features .description .flex-container .tittle{
        padding-top: 35px;
    }

    main .features .description .flex-container .tittle h2{
        font-size: 26px;
        text-align: center;
    }

    main .flexcontainer-features{
        flex-flow: wrap;
        margin: 50px 15px 50px 15px;
    }

    main .flexcontainer-features div{
        width: 100%;
        margin-right: 0px;
    }

    main .flexcontainer-features .destaque{
        margin-bottom: 10px;
    }

    main .flexcontainer-features .material-icons{
        font-size: 65px;
    }
    
    main .flexcontainer-features .destaque .title{
        font-size: 20px;
    }

    main .informacao-central{
        padding: 0 20px 0 20px;
    }

    main .informacao-central .flex-container{
        padding: 25px 0 80px;
    }

    main .informacao-central .flex-container .tittle h2{
        font-size: 26px;
    }

    main .informacao-central .flex-container .sub-tittle{

    }

    main .informacao-central .flex-container .botoes .btn-call-to-act{
        padding: 18px 55px;
    }

    main .description .flex-container-tittle .tittle{
        padding: 30px 20px 30px 20px;
    }

    main .description .flex-container-tittle .tittle h2{
        font-size: 26px;
    }

    main .duvidas-frequentes{
        padding: 0 15px;
    }

    main .duvidas-frequentes .flex-container{
        flex-flow: wrap;
        padding: 20px 0 50px 0;
    }
    
    main .duvidas-frequentes .title h2{
        padding-top: 60px;
        font-size: 26px;
    }

    main .duvidas-frequentes .flex-container .flex-item-left{
        width: 100%;
        padding-left: 0px;
    }

    main .duvidas-frequentes .flex-container .flex-item-right{
        width: 100%;
        padding-right: 0px;
    }

    .collapsible-header{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    main .duvidas-frequentes .flex-container .collapsible-body span{
        padding: 0;
    }

    footer .flexcontainer-footer{
        flex-flow: wrap;
    }
    
    footer .flexcontainer-footer .segundo-bloco{
    }

    footer .flexcontainer-footer .segundo-bloco,
    footer .flexcontainer-footer .terceiro-bloco,
    footer .flexcontainer-footer .primeiro-bloco{
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    footer {
        padding: 30px 0 40px 0;
    }

}