@media only screen
and (min-device-width : 668px)
and (max-device-width : 950px) {

    .whatsapp-link{
        width: 50px;
        height: 50px;
    }
    
    .depoimentos-mobile{
        display: block;
    }    

    .depoimentos-clientes{
        display: none;
    }

    header .logo-menu .flex-container .flex-item.left a img{
        display: none;
    }
    
    header .logo-menu .flex-container .flex-item.right.desk-menu{
        display: none;
    }
    
    header .logo-menu .flex-container .flex-item.right.desk-menu ul{
        position: fixed;
        
    }

    header .logo-menu .mobile-menu-dropdown{
        display: block;
    }
    
    header .logo-menu .mobile-menu-dropdown .flex-item.left img{
        width: 170px;
        padding: 0 0 0 10px;
        margin-top: 5px;
    }
    
    header .logo-menu .btn-mobile-menu{
        display: block;
        cursor: pointer;
        margin: 0 15px 0 0;
        float: right;
    }

    header .logo-menu .btn-mobile-menu .material-icons{
        font-size: 40px;
        color: #bf0811;
    }

    
    header .logo-menu .mobile-menu-dropdown nav{
        background: none;
        box-shadow: none;
    }
    
    header .logo-menu .mobile-menu-dropdown nav .links{
        position: fixed;
        width: 100%;
        height: 30vh;
        background: #fff;
        left: -100%;
        text-align: center;
        transition: all .5s;
        top: 80px;
        box-shadow: 0px 15px 10px -15px rgb(0 0 0 / 29%);
    }
    
    header .logo-menu .mobile-menu-dropdown nav .links li{
        display: block;
        margin: 20px 0;
        line-height: 30px;
        float: none;
    }
    
    header .logo-menu .mobile-menu-dropdown nav .links li a{
        color: #000;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    
    header .logo-menu .mobile-menu-dropdown nav .links li a:active, a:hover{
        color: #bf0811;
        background: none;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    
    header .logo-menu .flex-container .flex-item.left{
        padding: 0 0 0 10px;
        width: 100%;
    }

    main .principal .website-description .flex-container .flex-item.left h1{
        font-size: 26px;
        text-align: center;
    }

    main .principal .website-description .flex-container .flex-item.left .subtitulo{
        text-align: center;
        line-height: 1.5;
    }

    main .principal{
        background-position-x: 50%;
        background-position-y: 520px;
        background-size: 570%;
    }

    main .principal .flex-container{
        flex-flow: wrap;
    }

    main .principal .website-description .flex-container .flex-item{
        width: 100% !important;
    }

    main .principal .website-description .flex-container .flex-item.left{
        padding-top: 80px;
    }

    main .principal .website-description .flex-container .flex-item.left .titulo-principal-botoes{
        padding-left: 20px;
        padding-right: 20px;
        min-height: 0px;
    }

    main .principal .website-description .flex-container .flex-item.left .call-to-action{
        text-align: center;
        padding-left: 0px;
        padding-top: 130px;
    }

    main .principal .website-description .flex-container .flex-item.left a.btn-call-to-act {
        padding: 18px 55px;
    }

    main .principal .website-description .flex-container .flex-item.right{
        margin-left: 0px;
        width: 90%;
        text-align: center;
        padding-top: 70px;
    }

    main .principal .website-description .flex-container .flex-item.right img{
        margin-left: 0px;
        margin-top: 100px;
        width: 60%;
    }

    main .features .description .flex-container{
        padding: 0 20px 0 20px;
    }

    main .features .description .flex-container .tittle{
        padding-top: 35px;
    }

    main .features .description .flex-container .tittle h2{
        font-size: 26px;
        text-align: center;
    }

    main .flexcontainer-features{
        flex-flow: wrap;
        margin: 50px 15px 50px 15px;
    }

    main .flexcontainer-features div{
        width: 100%;
        margin-right: 0px;
    }

    main .flexcontainer-features .destaque{
        margin-bottom: 10px;
    }

    main .flexcontainer-features .material-icons{
        font-size: 65px;
    }
    
    main .flexcontainer-features .destaque .title{
        font-size: 20px;
    }

    main .informacao-central{
        padding: 0 25px 0 25px;
    }

    main .informacao-central .flex-container{
        padding: 25px 0 80px;
    }

    main .informacao-central .flex-container .tittle h2{
        font-size: 26px;
    }

    main .informacao-central .flex-container .sub-tittle{
        width: 100%;
    }

    main .informacao-central .flex-container .botoes .btn-call-to-act{
        padding: 18px 55px;
    }

    main .depoimentos-clientes{
        display: none;
    }

    main .carousel.carousel-slider.center{
        min-height: 530px;
    }

    main .flex-container{
        width: 100%;    
        text-align: center;
    }

    main .description .flex-container .tittle{
        padding: 30px 0 30px;   
        margin: 0 20px;
    }

    main .description .flex-container .tittle h2{
        font-size: 26px;
        font-family: 'Montserrat',sans-serif;
        font-weight: 500;
        color: #1F1F1F
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos{
        height: 430px;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal{
        width: 100%;
        margin: 0 20px 0 20px;
        padding: 0 30px;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .comentario{
        height: 320px;
        padding-top: 20px;
        overflow: hidden;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .aspas{
        font-size: 45px;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .aspas.right{
        margin-top: 15px;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .conteudo{
        font-size: 15px;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente{
        padding: 25px 0;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente img{
        width: 65px;
        height: 65px;
    }

    main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente span{
        font-size: 14px;
    }

    main .carousel.carousel-slider .carousel-item p{
        margin: 0px;
        padding-top: 5px;
    }

    main .carousel .indicators{
        bottom: 10px;
    }

    main .duvidas-frequentes{
        padding: 0 15px;
    }

    main .duvidas-frequentes .flex-container{
        flex-flow: wrap;
        padding: 20px 0 50px 0;
    }
    
    main .duvidas-frequentes .title h2{
        padding-top: 60px;
        font-size: 26px;
    }

    main .duvidas-frequentes .flex-container .flex-item-left{
        width: 100%;
        padding-left: 0px;
    }

    main .duvidas-frequentes .flex-container .flex-item-right{
        width: 100%;
        padding-right: 0px;
    }

    .collapsible-header{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    main .duvidas-frequentes .flex-container .collapsible-body span{
        padding: 0;
    }

    footer .flexcontainer-footer{
        flex-flow: wrap;
    }
    
    footer .flexcontainer-footer .segundo-bloco{
    }

    footer .flexcontainer-footer .segundo-bloco,
    footer .flexcontainer-footer .terceiro-bloco,
    footer .flexcontainer-footer .primeiro-bloco{
        text-align: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    footer .flexcontainer-social .quarto-bloco p a{
        line-height: 2.0;
    }

    footer {
        padding: 30px 0 40px 0;
    }

}