@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap');

html, body{
    margin: 0;
    padding: 0;
} 

header .logo-menu .flex-container .flex-item.left{
    width: 35%;
    padding: 0px 0px 0px 160px;
}

header .logo-menu .flex-container .flex-item.left a img{
    width: 157px;
}

a{
	text-decoration: none;
}

header .flex-container{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .logo-menu .flex-container .flex-item.right{
    text-align: left;
	margin: 8px 0px;
	width: 65%;   
    font-size: 14px;
}

header .logo-menu .flex-container .flex-item.right nav{
    background: none;
    box-shadow: none;
    line-height: 45px;
}

header .logo-menu .flex-container .flex-item.right .links{
    display: flex;
    gap: 38px;
    font-family: 'Montserrat', sans-serif;
}

header .logo-menu .flex-container .flex-item.right .links li{
    list-style: none;
    
}

header .logo-menu .flex-container .flex-item.right .links a{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    font-size: 14px;
    font-weight: 500;
}

header .logo-menu .flex-container .flex-item.right .links li a.borda{
    border: 2px solid red;
    border-radius: 50px;
}

main .principal{
    min-height: 700px;
    background: url("../images/bg-intro.svg") transparent 0 95% no-repeat;
}

main .principal .flex-container{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

main .principal .website-description .flex-container .flex-item.left{
    width: 50%;
    padding-top: 110px;
}    

main .principal .website-description .flex-container .flex-item.left .titulo-principal-botoes{
    padding-left: 170px;

}

main .principal .website-description .flex-container .flex-item.left h1{
    font-family: 'Montserrat', sans-serif;
    color: #1F1F1F;
    font-size: 40px;
    font-weight: 500;
}    

main .principal .website-description .flex-container .flex-item.left .subtitulo{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #676767;
    
}

main .principal .website-description .flex-container .flex-item.left .botoes{
    margin-top: 170px;
}


main .principal .website-description .flex-container .flex-item.right{
    width: 50%;
    padding-top: 60px;
}    

main .principal .website-description .flex-container .flex-item.right img{
    width: 70%;
    margin-left: 150px;
}

main .principal .website-description .flex-container .flex-item.left .titulo-principal-botoes .botoes{
    margin-top: 160px;
}

main .principal .website-description .flex-container .flex-item.left .titulo-principal-botoes .botoes button{
    padding: 15px 50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background-color: #30c742;
    border: #000000;
}

main .features{
    min-height: 500px;
}

main .features .description .flex-container{
    text-align: center;
    width: 100%;
}

main .features .description .flex-container .tittle{
    padding: 100px 0 10px;   
}

main .features .description .flex-container .tittle h2{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #1F1F1F;
}

main .features .description .flex-container .sub-tittle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;   
    font-size: 16px;
    color: #676767;
}

main .flexcontainer-features{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 70px 10px 90px 10px;    
}

main .flexcontainer-features div{
    width: 20%;
    border-radius: 10px;
    position: relative;
    font-size: 16px; 
    text-align: center;
    margin-right: 15px;
    padding: 40px 30px 40px 30px;
}

main .flexcontainer-features div .title{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}

main .flexcontainer-features div .description{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;   
    color: #676767;
    font-size: 15px;
}

main .flexcontainer-features .destaque{
    box-shadow: rgb(0 0 0 / 10%) 0 3px 20px 0;
}

main .flexcontainer-features .material-icons{
    display: block;
    margin: 0 auto 10px;
    font-size: 75px;
}

main .flexcontainer-features .destaque .material-icons{
    color: #bf0811;
}

main .flexcontainer-features .destaque .title{
    color: #bf0811;
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}

main .informacao-central{
    background: rgb(221,35,91);
    width: 100%;
}

main .informacao-central .flex-container{
    text-align: center;
    width: 100%;
    padding: 70px 0 80px;    
}

main .informacao-central .flex-container .tittle{
    padding: 10px 0;
}

main .informacao-central .flex-container .tittle h2{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #ffffff;
}

main .informacao-central .flex-container .sub-tittle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #dddddd;
    width: 60%;
    margin: 0 auto;
}

main .informacao-central .flex-container .botoes{
    margin-top: 50px;
}

main .informacao-central .flex-container .botoes button{
    padding: 15px 50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background-color: #30c742;
    border: #000000;
}

main .depoimentos-clientes{
    width: 100%;    
    text-align: center;
    padding: 0px 0 100px; 
}

main .depoimentos-clientes .description .flex-container .tittle{
    padding: 70px 0 50px;   
}

main .depoimentos-clientes .description .flex-container .tittle h2{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #1F1F1F;
}

main .depoimentos-clientes .flexcontainer-depoimentos{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal{
    width: 60%;
    position: relative;
    text-align: center;
    box-shadow: rgb(0 0 0 / 10%) 0 0 11px 0;
    background-color: rgba(239,242,246,1);
    border-radius: 10px;
    padding: 30px 65px 30px 65px;
    color: #000000;
    font-style: italic;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .aspas{
    font-size: 88px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 100%;
    height: 60px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .aspas.left{    
    text-align: left;
    margin-bottom: 30px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .aspas.right{
    text-align: right;
    margin-bottom: 15px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .conteudo{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente{
    display: flex;
    text-align: left;
    width: 100%;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente span{
    margin: 5px 0px 0px 25px;
    font-style: normal;
    color: #bf0811;
    font-size: 17px;
    font-weight: 500;
    display: block;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente .rating{
    width: 100px;
    height: 30px;
    text-indent: -999px;
    background: url(../images/rating-stars-trasparente.png) transparent top left no-repeat;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente .rating.five-stars{
    background-position-x: -153px;
    background-position-y: -246px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente .rating.four-stars{
    background-position-x: -153px;
    background-position-y: -202px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente .rating.three-stars{
    background-position-x: -153px;
    background-position-y: -156px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente .rating.two-stars{
    background-position-x: -153px;
    background-position-y: -113px;
}

main .depoimentos-clientes .flexcontainer-depoimentos .depoimento-principal .cliente .rating.one-star{
    background-position-x: -153px;
    background-position-y: -69px;
}

footer{
    background: #222 url(../images/background-footer.png) repeat 0 0;
    padding: 30px 170px 10px 170px;
    font-family: "Montserrat",Arial,sans-serif;
}

footer .flexcontainer-footer{
    width: 100%;
    flex-direction: row;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 15px;
}

footer .flexcontainer-footer .primeiro-bloco{
    width: 33.333333%;
    position: relative;
    font-size: 16px;
    padding right: 15px;
    min-height: 1px;
}

footer .flexcontainer-footer .primeiro-bloco .footer-logo img{
    width: 157px;
    color: #cccccc;
    padding-top: 10px;
}

footer .flexcontainer-footer .segundo-bloco{
    width: 33.333333%;
    font-size: 16px;
    text-align: left;
    min-height: 1px;
}

footer .flexcontainer-footer .segundo-bloco h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

footer .flexcontainer-footer .segundo-bloco ul li{
    text-decoration: none;
    color: #747c81;
    font-size: 12px;
    padding-top: 1.5px;
}

footer .flexcontainer-footer .segundo-bloco ul li a{
    color: #747c81;
}

footer .flexcontainer-footer .terceiro-bloco{
    width: 33.333333%;
    position: relative;
    font-size: 16px;
    min-height: 1px;
}

footer .flexcontainer-social .quarto-bloco{
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 10px;
    height: 60px;
    display: block;
    border-top: 0.5px solid #464646bd;
}

footer .flexcontainer-social .quarto-bloco p{
    font-size: 12px;
    color: #8c8c8c;
}

footer .flexcontainer-social .quarto-bloco p a{
    color: #ffffff;
}




