@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
.mobile-menu {
    display: none;
}

.desk-menu {
    display: block;
}

.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 35px;
    right: 35px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
    z-index: 1000;
}

header .logo-menu .flex-container .flex-item.left a img{
    display: block;
}

header .logo-menu{
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;
    height: 80px;
}

header .logo-menu .flex-container{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .logo-menu .mobile-menu-dropdown{
    display: none;
}

header .logo-menu .flex-container .btn-mobile-menu{
    display: none;
    cursor: pointer;
    margin-top: 15px;
}

header .logo-menu .flex-container .btn-mobile-menu div{
    width: 32px;
    height: 1.5px;
    margin: 8px;
    background-color: #bf0811;
}

header .logo-menu .flex-container .btn-mobile-menu .line-2{
    height: 2.5px;
}

header .logo-menu .flex-container .btn-mobile-menu .line-3{
    height: 3px;
}

header .logo-menu .flex-container .flex-item.left{
    width: 20%;
    padding: 0px 0px 0px 160px;
    margin-top: 15px;
}

a{
	text-decoration: none;
}

header .logo-menu .flex-container .flex-item.left a img{
    width: 157px;
    display: blo;
}

header .logo-menu .flex-container .flex-item.right{
	margin: 15px 0px;
	width: 80%;   
    font-size: 14px;
    padding-right: 155px;
}

header .logo-menu .flex-container .flex-item.right nav{
    background: none;
    box-shadow: none;
    line-height: 45px;
}

header .logo-menu .flex-container .flex-item.right .links{
    float: right;
    display: flex;
    gap: 38px;
    font-family: 'Montserrat', sans-serif;
}

header .logo-menu .flex-container .flex-item.right .links li{
    list-style: none;
    
}

header .logo-menu .flex-container .flex-item.right .links a{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    font-size: 14px;
    font-weight: 500;
}

header .logo-menu .flex-container .flex-item.right .links li a.borda{
    border: 2px solid red;
    border-radius: 50px;
}

main .principal{
    min-height: 755px;
    background: url("../images/bg-intro.svg") transparent 0 95% no-repeat;
}

main .principal .flex-container{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
}

main .principal .website-description .flex-container .flex-item.left{
    width: 50%;
    padding-top: 100px;
}    

main .principal .website-description .flex-container .flex-item.left .titulo-principal-botoes{
    padding-left: 170px;
    min-height: 360px;
}

main .principal .website-description .flex-container .flex-item.left .call-to-action{
    padding-left: 170px;
    padding-top: 50px;
}

main .principal .website-description .flex-container .flex-item.left h1{
    font-family: 'Montserrat', sans-serif;
    color: #1F1F1F;
    font-size: 40px;
    font-weight: 500;
}    

main .principal .website-description .flex-container .flex-item.left .subtitulo{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #676767;
    
}

main .principal .website-description .flex-container .flex-item.right{
    width: 50%;
    padding-top: 90px;
}    

main .principal .website-description .flex-container .flex-item.right img{
    width: 70%;
    margin-left: 150px;
    margin-top: 50px;
}

main .principal .website-description .flex-container .flex-item.left a.btn-call-to-act{
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background-color: #4dad58;
    border: #000000;
}

main .features{
    min-height: 500px;
}

main .features .description .flex-container{
    text-align: center;
    width: 100%;
}

main .features .description .flex-container .tittle{
    padding-top: 75px;   
}

main .features .description .flex-container .tittle h2{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #1F1F1F;
}

main .features .description .flex-container .sub-tittle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;   
    font-size: 16px;
    color: #676767;
}

main .flexcontainer-features{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 70px 10px 90px 10px;    
}

main .flexcontainer-features div{
    width: 20%;
    border-radius: 10px;
    position: relative;
    font-size: 16px; 
    text-align: center;
    margin-right: 15px;
    padding: 40px 30px 40px 30px;
}

main .flexcontainer-features div .title{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}

main .flexcontainer-features div .description{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;   
    color: #676767;
    font-size: 15px;
}

main .flexcontainer-features .destaque{
    box-shadow: rgb(0 0 0 / 10%) 0 3px 20px 0;
}

main .flexcontainer-features .material-icons{
    display: block;
    margin: 0 auto 10px;
    font-size: 75px;
}

main .flexcontainer-features .destaque .material-icons{
    color: #bf0811;
}

main .flexcontainer-features .destaque .title{
    color: #bf0811;
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}

main .informacao-central{
    background: rgb(221,35,91);
    width: 100%;
}

main .informacao-central .flex-container{
    text-align: center;
    width: 100%;
    padding: 70px 0 80px;    
}

main .informacao-central .flex-container .tittle{
    padding: 10px 0;
}

main .informacao-central .flex-container .tittle h2{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #ffffff;
}

main .informacao-central .flex-container .sub-tittle{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #dddddd;
    width: 60%;
    margin: 0 auto;
}

main .informacao-central .flex-container .botoes{
    margin-top: 50px;
}

main .informacao-central .flex-container .botoes .btn-call-to-act{
    padding: 15px 50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background-color: #4dad58;
    border: #000000;
}

.depoimentos-clientes{
    display: block;
}

.depoimentos-mobile{
    display: none;
}    

main .carousel.carousel-slider.center{
    height: none;
    min-height: 600px;
    background-color: #fff;
    width: 100%;    
    text-align: center;
    padding: 0px 0 100px; 
}

main .red{
    background-color: #fff !important;
}

main .amber{
    background-color: #fff !important;
}

main .green{
    background-color: #fff !important;
}

main .blue{
    background-color: #fff !important;
}

main .flex-container-tittle{
    width: 100%;    
    text-align: center;
}

main .description .flex-container-tittle .tittle{
    padding: 70px 0 50px;   
}

main .description .flex-container-tittle .tittle h2{
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #1F1F1F;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal{
    width: 25%;
    border-radius: 10px;
    position: relative;
    font-size: 16px; 
    margin-right: 20px;
    padding: 25px 30px 10px 30px;
    color: #bf0811;
    font-style: italic;
    box-shadow: rgb(0 0 0 / 10%) 0 0 11px 0;
    background-color: rgba(239,242,246,1);
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .comentario{
    height: 300px;
    overflow: hidden;
    padding-top: 30px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .aspas{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    width: 100%;
    height: 55px;
    color: #000000;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .aspas.left{    
    text-align: left;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .aspas.right{
    text-align: right;
    margin-bottom: 15px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .conteudo{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente{
    display: flex;
    text-align: left;
    width: 100%;
    padding-top: 30px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente span{
    margin: 5px 0px 0px 25px;
    font-style: normal;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente .rating{
    width: 100px;
    height: 30px;
    text-indent: -999px;
    background: url(../images/rating-stars-trasparente.png) transparent top left no-repeat;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente .rating.five-stars{
    background-position-x: -153px;
    background-position-y: -246px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente .rating.four-stars{
    background-position-x: -153px;
    background-position-y: -202px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente .rating.three-stars{
    background-position-x: -153px;
    background-position-y: -156px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente .rating.two-stars{
    background-position-x: -153px;
    background-position-y: -113px;
}

main .carousel.carousel-slider.center .flexcontainer-depoimentos .depoimento-principal .cliente .rating.one-star{
    background-position-x: -153px;
    background-position-y: -69px;
}

main .carousel .indicators .indicator-item.active{
    background-color: #000000;
}

main .carousel .indicators .indicator-item {
    background-color: rgb(0 0 0 / 40%);
    width: 12px;
    height: 12px;
}

main .duvidas-frequentes{
    background: rgb(221,35,91);
    width: 100%;
}

main .duvidas-frequentes .title h2{
    text-align: center;
    padding-top: 90px;
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #ffffff;
}

main .duvidas-frequentes .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 80px;
}

main .duvidas-frequentes .flex-container li{
    margin-bottom: 15px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
}

main .duvidas-frequentes .flex-container .flex-item-left{
    width: 48%;
    padding-left: 120px;
}

main .duvidas-frequentes .flex-container .flex-item-right{
    width: 48%;
    padding-right: 120px;
}

main .duvidas-frequentes .flex-container .collapsible-body span{
    font-size: 14px;
    font-weight: 400;
    padding: 1.5rem;
}

.collapsible{
    border: none;
    border-bottom: none;
    box-shadow: none;
}

footer{
    background: #222 url(../images/background-footer.png) repeat 0 0;
    padding: 30px 170px 10px 170px;
    font-family: "Montserrat",Arial,sans-serif;
}

footer .flexcontainer-footer{
    width: 100%;
    color: #ffffff;
    display: flex;
    padding-bottom: 15px;
}

footer .flexcontainer-footer .primeiro-bloco{
    width: 37%;
    position: relative;
    font-size: 16px;
}

footer .flexcontainer-footer .primeiro-bloco .footer-logo img{
    width: 157px;
    color: #cccccc;
    padding-top: 10px;
}

footer .flexcontainer-footer .segundo-bloco{
    width: 37%;
    font-size: 16px;
    text-align: left;
    min-height: 1px;
}

footer .flexcontainer-footer .segundo-bloco h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

footer .flexcontainer-footer .segundo-bloco ul li{
    text-decoration: none;
    color: #747c81;
    font-size: 12px;
    padding-top: 1.5px;
}

footer .flexcontainer-footer .segundo-bloco ul li a{
    color: #a3abb1;
}

footer .flexcontainer-footer .terceiro-bloco{
    width: 26%;
    font-size: 16px;
    min-height: 1px;
    padding-top: 15px;
}

footer .flexcontainer-footer .terceiro-bloco img{
    height: 35px;
    width: 25px;
    margin: 0 25px 0 0;
}

footer .flexcontainer-social .quarto-bloco{
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 10px;
    height: 60px;
    display: block;
    border-top: 0.5px solid #464646bd;
}

footer .flexcontainer-social .quarto-bloco p{
    font-size: 12px;
    color: #8c8c8c;
}

footer .flexcontainer-social .quarto-bloco p a{
    color: #ffffff;
}




